body {
    background-image: url("../images/victoriaharbor9238.jpg");
    background-size: cover;
    background-color: cornflowerblue;
    background-repeat: no-repeat;
}
h1{
    font-family: 'Risque', cursive;
    color: aliceblue;
    text-align: center;
    font-size: 80px;
    padding-top: 80px;
    justify-content: center;
    display: block;
}

p{
    font-family: 'Risque', cursive;
    color: aliceblue;
    font-size: 20px;
    text-align: center;
    padding: 5px;
    margin: 100px 80px 50px 80px;
}
.nav{
    font-family: 'Risque', cursive;
    float: right;
    display: block;
}

.hklogo{
    float: left;
    height: 85px;
    wide: 150px;
    padding: 5px;
}
.placesimg {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    flex-wrap: wrap;
    width: 1030px;
    height: 700px;
    justify-content: center;
}
.frameimage {
    display: flex;
    justify-content: center;
}

.attractions {
    width: 500px;
    height: 300px;
    margin: 3px;
}
.nav a:hover {
    background-color: blue;
}
.navlink {
    font-family: 'Risque', cursive;
    padding: 5px;
    width: 150px;
    height: 50px;
    text-align: center;
    font-size: 20px;
    background-color: slateblue;
    color: aliceblue;
    text-decoration: none;
}
.pagehead {
    text-align: center;
    align-items: center;
}
.mylink {
    display: flex;
    align-items: center;
}
.contacttable {
    font-size: 25px;
    display: flex;
    justify-content: center;
    color: deeppink;
}
.radiop {
    margin: 1px 1px 1px 1px;
    padding-top: -50px;
}
.contactbutton {
    padding-bottom: 100px;
}
.videos {
    display: flex;
    align-items: center;
    padding-left: 10%;
    flex-wrap: wrap;
    width: 1200px;
    height: 700px;
    justify-content: center;
}